
.open-sans-hi{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    margin: 0%;
}
.bg{
    background-color: #FFF8F3;
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left , bottom right;
}
.button {

    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;

}
.navUl{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.MaryFont{
    font-size: 45px;
    font-weight: 800;
   }
#Mary{
  color: #FD6E0A;
}

nav ul li{
    list-style-type: none;
    margin: 68px;
   
}
nav li a{
    text-decoration: none;
    font-size: 20px;
    
}

.dark-2{
    color: #474747;
}
.dark-3{
    color : #757575;
}
nav ul{
    display: flex;
    margin-right: 51px;
    align-items: center;
}

/* banner design */
.subtitleBan{
    font-size: 45px;
    font-weight: 600;
}
.Banner-Title{
    font-size: 85px;
    font-weight: Bold;

}
.banner-dis{
    font-size: 18px;
   font-weight: 400px ;
}
.banner-parent{
    display: flex;
    justify-content: space-between;
    margin: 0px 38px 0 230px;
    
}
.gap{
    margin: 0px 0px 30px 0px;
}
.pic-width-hardy{
    width: 584px;
    height: 676px;
}
/* About Me design */

.section-1{ 
    border-radius: 10px;
    background: rgb(255, 248, 243);
    padding: 131px 156px;
    margin-top: 130PX;
    margin-bottom: 130PX ;
    text-align: center;
    
}
.MaryFont1{
    color: #181818;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}
.about-me-dis{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}
.about-me-info{
    display: flex;
    justify-content: space-around;
}
.infoTitle{
font-weight: 400px;
font-size: 20px;
text-align: center;

}
.infoDis{
font-weight: bold;
font-size: 20px;
text-align: center;
}
/* Main class */
.main{
    max-width: 1140px;
    margin: 0px auto;
    
}
/* Skills */
.skill-items{
    display: flex;
    gap: 24px;
}
.what{
    color: #181818;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}
.skill-dis{
    color: #757575;
    font-weight: 400px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
}
.icon-dis{
    color: #757575;
    font-weight: 400px;
    
    
}
.icon-name{
    color: #181818;
    font-weight: bold;
    font-size: 20px;
}
.skills{
    margin-bottom: 130px;
}
.skill-item{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    
}

/* Resume */
.resume-head{
    color: #181818;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}
.education-head{
    font-size: 30px;
    font-weight: bold;
}
.experiencea-education{
    display: flex;
    gap: 24px;
}
.resu-title{
    font-weight: bold;
   

}
.resu-sub{
    font-weight: 600;
    
}

.resu-dis{
    font-weight: 400;
    
}
.cv{
    margin-top: 50px;
}
.resume-section{
    margin-bottom: 113px;
}

/* Footer */
.organizing-icons{
    display: flex;
    gap: 24px;
}
.con-deg{
    margin-top: 284px;
    color: #181818;
    font-weight: bold ;
    color: rgb(24, 24, 24);
font-size: 35px;
line-height: 48px;


}
.para-deg{
    font-weight: 400;
    color: rgb(71, 71, 71);
    
font-size: 16px;

line-height: 28px;
margin-bottom: 30px;

}
.contact{
    margin-bottom: 472px;
    
}
.footer-deg{
   display: flex;
   gap: 117px;
   
}
.filling{
    gap: 24px;
}
.fill-up{
    margin-bottom: 24PX;
    border-radius: 5px;
    background: rgb(255, 255, 255);

}
.footer-design{
   
position: absolute;
width: 1600px;
height: 780px;
left: 0;
right: 0;
top: 3476px;
bottom: 0;
background: rgb(255, 248, 243);
}
.contact{
    margin-left: 230px;
    
}

footer input[type = "text"] ,footer input[type = "email"] , footer textarea{

    height: 64px;
    border: none;
    background-color: white;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;

}